:root {
  --ship-cup-height-350: 250px;
  --ship-cup-height-768: 400px;

  --preloader-project-width-350: 250px;
  --preloader-project-width-768: 350px;

  --hero-project-width-350: 280px;
  --hero-project-width-768: 430px;

  --denial-progress-bar-height: 36px;
  --denial-checkbox-max-width-350: 300px;
  --denial-checkbox-max-width-768: 580px;
  --denial-checkbox-max-width-1280: 850px;

  --bargaining-parameters-max-width-350: 600px;
  --bargaining-parameters-max-width-1024: 1100px;

  --bargaining-checkbox-dimensions-350: 40px;
  --bargaining-checkbox-dimensions-768: 50px;

  --bargaining-progress-bar-height: 26px;
  --bargaining-progress-bar-width-350: 280px;
  --bargaining-progress-bar-width-768: 550px;

  --overflow-figure-dimensions-350: 200px;
  --overflow-figure-dimensions-768: 256px;

  --depression-circle-dimensions-350: 50px;
  --depression-circle-dimensions-768: 90px;
  --depression-square-dimensions-350: 30px;
  --depression-square-dimensions-768: 60px;

  --acceptance-errors-max-width: 1200px;
}
