:root {
  --preloader-divider-glow: 0 2px 32px var(--preloader-divider-glow-color);
  --shadow-lang-page-close: 0 5px 3px #000;
  --shadow-section-title: 4px 4px 4px var(--section-title-shadow);
  --focus-button-shadow: 0 2px 12px #ff0000;
  --shadow-bargaining-button: 1px 4px 8px #080c36be;
  --shadow-anger-button-default: 4px 4px 8px var(--anger-button-shadow-default);
  --shadow-anger-button-hover: 6px 8px 4px var(--anger-button-shadow-hover);
}
