:root {
  --main-radius: 8px;
  --crash-button-radius: 4px;
  --hero-project-radius: 28px;
  --bargaining-button-radius: 20px;
  --bargaining-progress-bar-radius: 999px;
  --overflow-square-radius: 20px;
  --overflow-circle-radius: 999px;
  --acceptance-note-radius: 4px;
}
