@use '../system/mixins' as mx;
@use '../tokens/spacing' as s;
@use '../typography/index' as tp;

.bargaining {
  @include mx.centered;
  text-align: left;
  flex-direction: column;
  gap: s.$space-m;
  padding-inline: s.$space-m;
  padding-block: s.$space-xxl;

  background: linear-gradient(
    to bottom,
    var(--bargaining-bg-start),
    var(--bargaining-bg-middle),
    var(--bargaining-bg-end)
  );

  @include mx.mq(break-768) {
    text-align: center;
    gap: s.$space-m;
    padding: s.$space-xxl;
  }

  &__title {
    @include tp.h2;
  }

  &__subline {
    @include tp.bargaining-subline;
  }

  &__select {
    @include tp.bargaining-select;
  }

  &__parameters {
    display: flex;
    flex-direction: column;
    gap: s.$space-m;
    width: 100%;
    max-width: var(--bargaining-parameters-max-width-350);

    @include mx.mq(break-768) {
      gap: s.$space-l;
    }
    @include mx.mq(break-1024) {
      flex-direction: row;
      gap: s.$space-xxxl;
      max-width: var(--bargaining-parameters-max-width-1024);
    }

    &-inner {
      @include mx.centered;
      flex-direction: column;
      gap: s.$space-s;
      width: 100%;

      @include mx.mq(break-768) {
        gap: s.$space-m;
      }
    }
  }

  &__parameter {
    @include mx.centered;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &-text {
      @include tp.bargaining-parameter;
    }

    &-checkbox {
      width: var(--bargaining-checkbox-dimensions-350);
      height: var(--bargaining-checkbox-dimensions-350);
      background: linear-gradient(
        to bottom,
        var(--bargaining-checkbox-bg-start),
        var(--bargaining-checkbox-bg-end)
      );
      border: 2.4px solid var(--bargaining-checkbox-border);
      border-radius: var(--main-radius);
      padding: s.$space-s;
      cursor: grab;

      @include mx.mq(break-768) {
        width: var(--bargaining-checkbox-dimensions-768);
        height: var(--bargaining-checkbox-dimensions-768);
      }
    }

    &-icon {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.15s ease;

      &.visible {
        opacity: 1;
      }
    }
  }

  &__press {
    @include tp.bargaining-press;
  }

  &__button {
    @include mx.basic-button;
    @include tp.bargaining-button;
    border-radius: var(--bargaining-button-radius);

    background-color: var(--bargaining-button-default-bg);
    color: var(--bargaining-button-default-text);
    box-shadow: var(--shadow-bargaining-button);

    transition: background 0.3s ease;
     
    &.ready {
      background-color: var(--bargaining-button-ready-bg);
      color: var(--bargaining-button-ready-text);
    }

    &:hover {
      background-color: var(--bargaining-button-hover-bg);
    }

    &.activated {
      background-color: var(--bargaining-button-activated-bg);
      color: var(--bargaining-button-activated-text);
    }
  }

  &__loading {
    @include tp.bargaining-loading;
    opacity: 0;
    transition: opacity 0.2s ease;

    &.visible {
      opacity: 1;
    }
  }

  &__down {
    @include mx.centered;
    flex-direction: column;
    gap: s.$space-m;
  }

  &__track {
    height: var(--bargaining-progress-bar-height);
    width: var(--bargaining-progress-bar-width-350);
    background-color: var(--bargaining-progress-bg);
    border-radius: var(--bargaining-progress-bar-radius);
    overflow: hidden;
    
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    @include mx.mq(break-768) {
      width: var(--bargaining-progress-bar-width-768);
    }
  }

  &__fill {
    background-color: var(--bargaining-progress-fill);
    height: 100%
  }

  &__processing {
    @include tp.bargaining-processing;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.visible {
      opacity: 1;
    }
  }
}